<% @visas.each  do |visa| %>	
	<div class="col-sm-5 col-md-3 col-lg-3">
    <div class="thumbnail thumb-rel pad-bot-50">
      <div class="caption">
        <h3 class="height-50"><%= link_to visa.name, visa_path(visa.slug) %></h3>
        <p class="height-50" title = "<%= visa.shortdesc %>"><%= truncate(visa.shortdesc, :length => 80) %>
        </p>
        <p class="btn-absolute">
        		<%= link_to "Подробнее", visa_path(visa.slug), :class => "btn btn-success btn-block" %>
        <p>
      </div>
    </div>
  </div>
<% end %>