<div class="container  pad-top-bot-50">
 <div class="row"> 
 	<div class="col-lg-3">
 	</div>
 	<div class="col-lg-6">
 		<div class="alert alert-warning" role="alert">
			<h3>Спасибо за Вашу заявку!</h3>
			<p>Скоро мы с Вами свяжемся.</p> 
			<div class="row mar-top-50"> 
				<div class="col-lg-6">
					<%= link_to "", :class=>"btn btn-success btn-block" do %>
						<span class="glyphicon glyphicon-home"></span>
						На главную
					<% end %>
				</div>
				<div class="col-lg-6">
					<%= link_to "", :class=>"btn btn-info btn-block" do %>
						<span class="glyphicon glyphicon-search"></span>
						Еще визы					
					<% end %>
				</div>	
			</div>		
 		</div>
 	</div>
 	<div class="col-lg-3">
 	</div>
 </div>
</div>