<div class="container  pad-top-bot-50">
 <div class="row"> 
 	<div class="col-lg-3">
 	</div>
 	<div class="col-lg-6">
 		<div class="panel panel-default">
			<div class="panel-heading">Заявка на оформление визы</div>
				<div class="panel-body">
				  <%= render :partial => "form" %> 	
				</div>
			</div>	
		</div>	
 	</div>
 	<div class="col-lg-3">
 	</div>
 </div>
</div>