<div class="container  pad-top-bot-50">
 <div class="row"> 
   <div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Оставь заявку сейчас!</h3></div>
			<div class="panel-body">
				<%= render :partial => "orders/form" %>	
			</div>		
		</div> 	
 	</div>
 	<div class="col-lg-9">
 		<div class="panel panel-default">
			<div class="panel-heading"><h3>Австралия</h3></div>
			<div class="panel-body">
				 <div class="row col-lg-6 mar-left-10">
				   	<div class="well pad-0 panel-grey">
    	 					<h1 class="mar-0"><span class="text-underline" >Иммиграция в Австралию</span></h1>
       	 			</div>
       	 			<p>
       	 				<b>Иммиграция в Австралию</b> - это достаточно сложный и кропотливый процесс, требующий знания множества нюансов. 
       	 				
						</p>       	 			
       	 			<p>Как <b>зарегистрированный иммиграционный агент</b>, 
       	 				наша компания может проконсультировать тебя по вопросам <b>визовых требований</b>, помочь <b>подать заявление</b> 
       	 				на получение визы, а так же от твоего имени взаимодействовать с <b>Департаментом Иммиграции Австралии</b>.
       	 			</p>
       	 			<p>	  
							Помимо оказания помощи в процессе иммиграции в Австралию, мы  также оказываем услуги в <b>поиске работы</b>, <b>регистрации юридических лиц</b>, 
							а также помогаем решать прочие вопросы связанные с иммиграцией в Австралию.
       	 			</p>
				 </div>
				 <div class="row col-lg-6 mar-left-10">
					 <%= link_to image_tag("au-immigration.jpg", :class=>"img-responsive img-thumbnail") %>			 
				 </div>				
			</div> 		
 		</div>
 		<div class="panel panel-default">
			<div class="panel-heading"><h2>Чем мы можем тебе помочь?</h2></div>
			<table class="table table-striped">
				      <tbody>
				      	<tr class="font-s-17">
					         <td>
					            <span class="glyphicon glyphicon-chevron-right text-blue"></span>&nbsp;
					         	 Проведем персональную консультацию для того, чтобы оценить шансы и подобрать наиболее подходящий вариант иммиграции.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-chevron-right text-blue"></span>&nbsp;
						 			 Поможем подготовить и перевести все необходимые документы.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-chevron-right text-blue"></span>&nbsp;
					         	 Составим заявление и подадим от твоего имени пакет документов в Департамент иммиграции Австралии.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					          	 <span class="glyphicon glyphicon-chevron-right text-blue"></span>&nbsp;
					         	 Поможем найти работу в Австралии в соответствии с твоим опытом и квалификацией.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					          	 <span class="glyphicon glyphicon-chevron-right text-blue"></span>&nbsp;
					         	 Поможем в покупке готово бизнеса в Австралии или регистрации новой компании.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-chevron-right text-blue"></span>&nbsp;
					         	 Поможем получить Австралийское гражданство после 4-х лет проживания в Австралии.
						 		</td>
					      </tr>
				      </tbody>
				    </table>
 		</div>
 		<div class="panel panel-default">
	       	<div class="panel-heading">
					<h3>Почему мы</h3></div>
	       	<div>
	       		<table class="table table-striped">
				      <tbody>
				      	<tr class="font-s-17">
					         <td>
					            <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
					         	 Наши сотрудники являются официальными иммиграционными агентами Австралии.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
						 			 Мы предоставляем профессиональные услуги, в соответвии со всеми требованиями Австралийского иммиграционного законодательства.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
					         	 Уже более 5 лет мы помогаем нашим клиентам решать иммиграционные вопросы.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					          	 <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
					         	 Мы даем человеку ощущение, что он не один в этом процессе, и мы поддерживаем и 
					         	 направляем его с самого начала и до конца.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
					         	 Мы гарантируем, что будем представлять интересы клиентов наиболее профессионально, и сделаем все, что юридически необходимо для того, 
									 чтобы помочь нашим клиентам получить визу или постоянный вид на жительство.
						 		</td>
					      </tr>
				      </tbody>
				    </table>
	         </div>
    	   </div>
 		<div class="panel panel-default">
			<div class="panel-heading"><h2>Иммиграционные визы в Австралию</h2></div>
			<div class="panel-body">
				<%= render :partial => "visas/visaitems" %>		
			</div> 		
 		</div>
 	</div>	
 </div>
</div>

<script type="text/javascript" >
	$(document).ready(function() {
  		$(".certificate").fancybox({
	  		helpers : {
					title : {
						type : 'over'
					}
				}
		});
	});
	$('.fancybox-media')
				.fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23900710 = new Ya.Metrika({id:23900710,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23900710" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- GoogleAnalytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48380429-1', 'vizaok.ru');
  ga('send', 'pageview');

</script>