
<div id="fade"><div><img src="http://www.g-shock.eu/global/images/loader_logo.png" width="200" height="32" border="0"><br><br>LOADING<br><img src="http://www.g-shock.eu/global/images/loader.gif" width="32" height="32" border="0"></div></div>
<div class="content">
	<header>
		<div id="languages">
			
<div id="header-suche">
	<form method="get" action="http://www.g-shock.eu/euro/search/">
	Search &nbsp; <input type="text" name="q" value=""> <input type="submit" class="btn-pfeil" value="">
	</form>
</div>

<div id="header-languages">
	<div id="header-choosedlanguage">		
		<div class="fl dn" id="header-language-all">
							<a href="http://www.g-shock.eu/de/" >DE</a>
							<a href="http://www.g-shock.eu/es/" >ES</a>
							<a href="http://www.g-shock.eu/euro/" class="red">EURO</a>
							<a href="http://www.g-shock.eu/fr/" >FR</a>
							<a href="http://www.g-shock.eu/it/" >IT</a>
							<a href="http://www.g-shock.eu/nl/" >NL</a>
							<a href="http://www.g-shock.eu/pt/" >PT</a>
							<a href="http://www.g-shock.eu/ru/" >RU</a>
					</div>
		<div class="fl red" id="header-language-aktuell">euro</div>
	</div>	
	
	<div id="choose_language" class="fl">Language</div>
</div>		</div>
		
		<div id="babyg">
							<a href="http://www.baby-g.eu/euro/" class="baby-logo"></a>
					</div>
		<div id="home">
			<a href="http://www.g-shock.eu/euro/"></a>
		</div>
		
		<nav>
			

<ul id="navigation">
	
	<li><a href="http://www.g-shock.eu/euro/30years/"><span>30 years</span></a></li>
	
	<li><a href="http://www.g-shock.eu/euro/watches/"><span>Watches</span></a>
		<div><ul style="width:107px;">
			<li><a href="http://www.g-shock.eu/euro/watches/premium/">G-Premium</a></li>
			<li><a href="http://www.g-shock.eu/euro/watches/specials/">G-Specials</a></li>
			<li><a href="http://www.g-shock.eu/euro/watches/classic/">G-Classic</a></li>			
			<li><a href="http://www.g-shock.eu/euro/watches/viewall/">View All</a></li>
		</ul></div>
	</li>	
	<li><a href="http://www.g-shock.eu/euro/aboutgshock/"><span>About G-SHOCK</span></a>
		<div><ul style="width:161px;">
			<!-- Bluetooth nur fuer Deutsche Version -->
						<li><a href="http://www.g-shock.eu/euro/aboutgshock/toughness/">Toughness</a></li>
			<li><a href="http://www.g-shock.eu/euro/aboutgshock/technology/">Technology</a></li>
			<li><a href="http://www.g-shock.eu/euro/aboutgshock/history/">History</a></li>
		</ul></div>		
	</li>	
	<li><a href="http://www.g-shock.eu/euro/gshocklife/"><span>G-SHOCK Life</span></a>
		<div><ul style="width:160px;">
						<li><a href="http://www.g-shock.eu/euro/gshocklife/collaborations/">Collaborations</a></li>
			<li><a href="http://www.g-shock.eu/euro/gshocklife/events/">Events</a></li>
			<li><a href="http://www.g-shock.eu/euro/gshocklife/friends/">Friends</a></li>
			<li><a href="http://www.g-shock.eu/euro/gshocklife/promotion/">Style-Promotion</a></li>
			
		</ul></div>
	</li>	
	
	<li><a href="http://www.g-shock.eu/euro/support/"><span>Support</span></a></li>
</ul>		</nav>		
	</header>
</div>

<section id="searchcontent">
	<div class="content">
		
</div>
<div id="slider">	
	<div id="slider-container">
		<div id="slider_prev"><img src="http://www.g-shock.eu/global/images/common/slider_links.png" id="slider_prev_a" onmousedown="$('#slider_prev_a').stop().animate({boxShadow: '3px 3px 3px', top: 3}, 'fast')" onmouseup="$('#slider_prev_a').stop().animate({boxShadow: '8px 8px 10px', top: 0}, 'fast')" width="26" height="38" alt=""></div>
		<div id="slider_next"><img src="http://www.g-shock.eu/global/images/common/slider_rechts.png" id="slider_next_a" width="26" onmousedown="$('#slider_next_a').stop().animate({boxShadow: '3px 3px 3px', top: 3}, 'fast')" onmouseup="$('#slider_next_a').stop().animate({boxShadow: '-8px 8px 10px', top: 0}, 'fast')" height="38" alt=""></div>
		
		<ul id="ul-slider">
								<li  id="g1" class="li-slider" style="background-image: url(http://www.g-shock.eu/global/images/banner/pb_gsessions_euro.jpg);"></li>
									<li onclick="window.open('http://www.g-shock.eu/euro/aviation/','_blank')"  id="g2" class="li-slider" style="display:none;background-image: url(http://www.g-shock.eu/global/images/banner/pb_raf_euro.jpg);cursor:pointer;"></li>
									<li onclick="window.open('http://www.g-shock.eu/euro/gshocklife/promotion/gold_series/','_blank')"  id="g3" class="li-slider" style="display:none;background-image: url(http://www.g-shock.eu/global/images/banner/gold_euro.jpg);cursor:pointer;"></li>
									<li  id="g4" class="li-slider" style="display:none;background-image: url(http://www.g-shock.eu/global/images/banner/absolute_toughness_1.jpg);"></li>
									<li  id="g5" class="li-slider" style="display:none;background-image: url(http://www.g-shock.eu/global/images/banner/absolute_toughness_3.jpg);"></li>
									<li  id="g6" class="li-slider" style="display:none;background-image: url(http://www.g-shock.eu/global/images/banner/absolute_toughness_red.jpg);"></li>
										
		</ul>
	</div>
</div>

<script type="text/javascript">
var max_nr 	= 6;
</script>

<div class="content">
	

<div class="content_after_banner_animiert">
	
<div class="watches-viewall-filter">
		<div class="fl">
			<h2>Просмотр всех моделей</h2>
		</div>
		<div class="fr" style="margin-top:7px;">
			
			<form method="get" action="" class="fl">				
								<select name="c" class="viewall-watches-select mr20" style="width:120px;">
					<option value="">Цвет</option>
										<option value="6">PURPLE</option>
										<option value="7">Белый</option>
										<option value="9">Желтый или золотой</option>
										<option value="3">Зеленый</option>
										<option value="5">Коричневый</option>
										<option value="4">Красный или розовый</option>
										<option value="8">Серебристый или серый</option>
										<option value="2">Синий</option>
										<option value="1">Черный</option>
										
				</select>	
							</form>
			
			<form method="get" action="" class="fl">
				<select name="b" class="viewall-watches-select mr20" style="width:120px;">
					<option value="">Браслет</option>
					<option value="001">Резина</option>
					<option value="003">Нержавеющая сталь</option>
				</select>	
			</form>
			
			<form method="get" action="" class="fl">	
				<select name="t" class="viewall-watches-select mr20" style="width:120px;">
					<option value="">Технология</option>
					<option value="wvs">Радиосинхронизация </option>					
					<option value="sol">Солнечная батарея</option>					
					<option value="wvs,sol">Радиосинхронизация и солнечная батарея</option>					
					<option value="sfc013">ИНТЕЛЛЕКТУАЛЬНЫЙ ДОСТУП</option>					
					<option value="sfc014">BLUETOOTH</option>					
				</select>	
			</form>
			
			<form method="get" action="" class="fl">	
				<input type="submit" value="Сброс" class="btn-pfeil-value">				
			</form> 
		</div>
		<div class="cb"></div>
	</div>

<!--watches-->
<div class="teaser mt50"> 
	<div class="row">
		<%= render :partial=>"watches" %>
	</div>
</div>	
<!--end-watches-end-->

</div>
</section>

<footer>
	<div id="footer">
	<div id="footer-in">
		
		<div id="footer-links">
			<ul>
			<li><a href="http://www.g-shock.eu/euro/">Home</a></li>
		<li><a href="http://www.g-shock.eu/euro/watches/">Watches</a></li>
		<li><a href="http://www.g-shock.eu/euro/aboutgshock/">About G-SHOCK</a></li>
		<li><a href="http://www.g-shock.eu/euro/gshocklife/">G-SHOCK Life</a></li>
		<li><a href="http://www.g-shock.eu/euro/support/">Support</a></li>
		
	<li><a href="http://www.g-shock.eu/euro/imprint/">Imprint</a></li>
	<li><a href="http://www.casio-europe.com/euro/corporate/">About CASIO</a></li>
</ul>
All Rights Reserved, Copyright &copy; CASIO Europe GmbH
<div id="footer-quicklinks" class="pt25">
	
			More CASIO Brands: <a href="http://www.casio-europe.com/euro/">CASIO Europe</a> | <a href="http://www.baby-g.eu/euro/">Baby-G</a><br>
		<a href="http://www.exilim.eu/euro/">EXILIM</a> | <a href="http://www.casio-projectors.eu/euro/">CASIO Projectors</a> | 		
		<a href="http://www.celviano.eu/euro/">CELVIANO</a> | <a href="http://www.privia-instruments.com/euro/">PRIVIA Instruments</a>
		
		
</div>

		</div>
		
		<div id="footer-rechts">
			<h3>Bookmark & Share:  <!--a id="footer-appstore" href="https://itunes.apple.com/de/app/tryme-by-casio/id319508605?mt=8"></a--> <a id="footer-youtube" href="http://www.youtube.com/user/gshockeu"></a> <a id="footer-facebook" href="https://www.facebook.com/CASIO.GSHOCK"></a></h3>

	<div id="footer-newsletter" class="footer-text">
		<form method="post" action="http://www.g-shock.eu/euro/newsletter/">
		Newsletter &nbsp; <input type="text" name="email"> <input type="submit" class="btn-pfeil" value="">
		</form>
	</div>
		</div>
		
		<div class="cb"></div>		
	</div>
</div></footer>